<div>
    <div class="col-lg-6 offset-3">
        <div class="box">
            <h3 class="heading">New account</h3>
            <p class="lead">Not our registered yet?</p>

            <form [formGroup]="registForm" (ngSubmit)="submit()">

                <div class="form-group">
                    <label for="id_first_name">First Name</label>
                    <input [ngClass]="{'border-danger': f.first_name.invalid && f.first_name.touched}" formControlName="first_name" type="text" class="form-control" id="id_first_name" placeholder="Enter First Name">
                </div>

                <div class="form-group">
                    <label for="id_last_name">Last Name</label>
                    <input [ngClass]="{'border-danger': f.last_name.invalid && f.last_name.touched}" formControlName="last_name" type="text" class="form-control" name="last_name" id="id_last_name" placeholder="Enter Last Name">
                </div>

                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input [ngClass]="{'border-danger': f.email.invalid && f.email.touched}" formControlName="email" type="email" class="form-control" name="email" id="id_email" placeholder="Enter Email">
                </div>

                <div class="form-group">
                    <label for="id_password1">Password</label>
                    <input [ngClass]="{'border-danger': f.password.invalid && f.password.touched}" formControlName="password" type="password" class="form-control" name="password1" id="id_password1" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="id_password2">Password</label>
                    <input [ngClass]="{'border-danger': f.repassword.invalid && f.repassword.touched}" formControlName="repassword" type="password" class="form-control" name="password1" id="id_password2" placeholder="Enter Password">
                </div>

                <div class="invalid-feedback-custom" *ngIf="submitted && error">
                    <span class="text-danger">{{error}}</span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-user-md"></i> Register
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>