<section class="job-form-section job-form-section--image">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="job-form-box">
                <h2 class="heading">Find a <span class="accent">job</span> you will
                    <span class="accent">love</span>.
                </h2>
                <form [formGroup]="formSearch" (ngSubmit)="search()" id="job-main-form" class="job-main-form">
                    <div class="controls">
                        <div class="row align-items-center">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="title">Job title</label>
                                    <input formControlName="title" type="text" id="title" name="position" placeholder="Job you are looking for" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-outline-danger job-main-form__button">
                                        <i class="fa fa-search"></i>
                                    </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-gray">
    <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured align-items-stretch">
            <div *ngFor="let data of items" class="col-lg-4 mb-5 mb-lg-0">
                <div class="box-image-text bg-visible full-height">
                    <div class="top">
                        <a [routerLink]="['/jobs/detail', data.id]">
                            <div class="image">
                                <img src="../../../../assets/images/featured1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="bg"></div>
                            <div class="logo">
                                <img src="../../../../assets/images/company-1.png" alt="" style="max-width: 80px;">
                            </div>
                        </a>
                    </div>
                    <div class="content">
                        <h5><a [routerLink]="['/jobs/detail', data.id]">{{data.job_title}}</a></h5>
                        <p class="featured__details"><i class="fa fa-map-marker job__location"></i>
                            <span>{{data.location}}</span>
                            <span class="badge featured-badge" [ngClass]="{'badge-success': data.type==0, 'badge-primary': data.type==1, 'badge-warning': data.type==2}">{{jobType[data.type]}}</span>
                        </p>
                        <p>{{data.job_des}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-divider">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Start searching for your new job now! </p>
                <p><a [routerLink]="['/jobs']" class="btn btn-outline-light">See our job offers </a></p>
            </div>
        </div>
    </div>
</section>