<section class="job-form-section job-form-section--image">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="job-form-box">
                <h2 class="heading">Find a <span class="accent">job</span> you will
                    <span class="accent">love</span>.
                </h2>
                <form [formGroup]="formSearch" (ngSubmit)="search()" id="job-main-form" class="job-main-form">
                    <div class="controls">
                        <div class="row align-items-center">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="title">Job title</label>
                                    <input formControlName="title" type="text" id="title" name="position" placeholder="Job you are looking for" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-outline-danger job-main-form__button">
                                        <i class="fa fa-search"></i>
                                    </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-gray">
    <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured align-items-stretch">
            <item1 *ngFor="let item of items" [data]="item"></item1>
        </div>
    </div>
</section>

<section class="section-divider">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Start searching for your new job now! </p>
                <p><a [routerLink]="['/jobs']" class="btn btn-outline-light">See our job offers </a></p>
            </div>
        </div>
    </div>
</section>